<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<aside th:insert="~{admin/common/headerAdmin :: admin-header-common}" />
<link rel="stylesheet"
	th:href="@{/public/resources/adminAssets/css/pagination.css}">
</head>

<body>
	<aside th:insert="~{admin/common/adminLeftPanel :: left-panel-common}" />

	<!-- Right Panel -->
	<div id="right-panel" class="right-panel">
		<!-- Header-->
		<aside
			th:insert="~{admin/common/headerRightPanel :: header-rightPanel-common}" />
		<!-- /#header -->
		<!-- Content -->
		<div class="content">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header text-center">
							<h2 class="card-title">
								<strong>Quản lý mã giảm giá</strong>
							</h2>
							<form method="get" th:action="@{/admin/vouchers-list}">
							
							<input th:value="${name}"
									class="h-100 d-inline-block pb-2 pt-1 ml-2" type="text"
									placeholder="Name" name="name">
								<button type="submit" class="btn btn-primary">
									<i class="fa-solid fa-filter mr-2"></i>Lọc
								</button>
							</form>
						</div>

						<div class="table-stats order-table ov-h">
							<table class="table ">
								<thead>
									<tr>
										<th>ID</th>
										<th>Mã giảm giá</th>
										<th>Mô tả</th>
										<th>Phần trăm giảm</th>
										<th>Hạn ngày sử dụng</th>									
										<th>Trạng thái</th>
										<th>Hành động</th>

									</tr>
								</thead>
								<tbody>

									<tr th:each=" v : ${vouchersPaginated.content} ">
										<td th:text="${v.id}"></td>
										<td><span class="name" th:text="${v.code}"></span></td>
										<td><span class="description" th:text="${v.description}"></span></td>
										<td><span class="percentSale" th:text="${v.voucherCondition.percentSale}"></span></td>
										
										<td><span class="expiredDate"
											th:text="${v.voucherCondition.expiredDate}"></span></td>

										<td><span th:if="${v.isActived == true}"
											class="badge badge-complete">Active</span> <span
											th:if="${v.isActived != true}" class="badge badge-danger">Inactive</span>

										</td>
										<td><a
											th:href="@{/admin/updateVoucher/{voucherId}(voucherId = ${v.id})}"><i
												class="fa fa-wrench"></i></a> <a href="#times"><i
												class="fa fa-times"></i></a></td>
									</tr>

								</tbody>
							</table>
							<nav th:if="${vouchersPaginated.totalPages > 0}"
								aria-label="Page navigation example">
								<ul class="pagination justify-content-end">
									<li th:class="${page > 1} ? 'page-item' : 'page-item disabled'"><a
										class="page-link"
										th:href="@{/admin/vouchers-list(size=${vouchersPaginated.size}, page=${page-1})}"
										tabindex="-1">Previous</a></li>
									<span th:if="${vouchersPaginated.totalPages <= 3}"
										th:each="pageNumber : ${pageNumbers}">
										<li
										th:class="${pageNumber == page} ?'page-item active' : 'page-item'">
											<a
											th:href="@{/admin/vouchers-list(size=${vouchersPaginated.size}, page=${pageNumber})}"
											th:text=${pageNumber} class="page-link"></a>
									</li>
									</span>

									<span class="d-inline-block"
										th:if="${vouchersPaginated.totalPages > 3}">
										<nav class="d-inline-block"
											th:each="pageNumber , iterStat : ${pageNumbers}"
											th:if="${pageNumber >= page && pageNumber <= page + 2 && pageNumber < vouchersPaginated.totalPages}">
											<li
												th:class="${pageNumber == page} ?'page-item active' : 'page-item'">
												<a
												th:href="@{/admin/vouchers-list(size=${vouchersPaginated.size}, page=${pageNumber})}"
												th:text=${pageNumber} class="page-link"></a>
											</li>

										</nav>
										<li
										th:class="${page + 1 == vouchersPaginated.totalPages} ? 'page-item d-none d-inline-block' : 'page-item d-inline-block' "><a
											class="page-link" href="#">...</a></li>
										<li
										th:class="${pageNumber == page} ?'page-item active d-inline-block' : 'd-inline-block page-item'">
											<a
											th:href="@{/admin/vouchers-list(size=${vouchersPaginated.size}, page=${vouchersPaginated.totalPages})}"
											th:text=${vouchersPaginated.totalPages} class="page-link"></a>
									</li>
									</span>

									<li
										th:class="${page < vouchersPaginated.totalPages} ? 'page-item' : 'page-item disabled'"><a
										class="page-link"
										th:href="@{/admin/vouchers-list(size=${vouchersPaginated.size}, page=${page+1} )}">Next</a>
									</li>
								</ul>
							</nav>
						</div>

					</div>
				</div>
			</div>

			<!-- /.content -->
			<div class="clearfix"></div>
			<!-- Footer -->
			<aside th:insert="~{admin/common/footerAdmin :: footer-admin-common}" />

			<!-- /.site-footer -->
		</div>
	</div>

	<!-- /#right-panel -->

	<!-- Scripts -->
	<aside th:insert="~{admin/common/scriptCommon :: script-common}" />
</body>
</html>
