.manage-exercise-container{
    body {
        background-color: #f8f9fa;
    }
    .profile-card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    .time-box {
        background-color: #ced0ce;
        border-radius: 8px;
        padding: 10px;
        margin: 10px 0;
    }
    .time-box2 {
        background-color: #62e35c;
        border-radius: 8px;
        padding: 10px;
        margin: 10px 0;
    }
    .btn-custom {
        background-color: #003f69;
        color: #fff;
        border-radius: 50px;
        font-size: 18px;
        padding: 10px 30px;
        width: 70%;
    }

    .img-avatar {
        width: 20%;
        height: 20%;
    }
}

